* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
}

h2,
h3 {
    padding-bottom: 20px;
    font-size: 25px;
}

p {
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
    padding-top: 10px;
}

.marcador-amarelo {
    color: yellow;
    font-weight: bold;
}

.marcador-azul {
    color: rgb(75, 122, 221);
    font-weight: bold;
}

.nossos-servicos,
.contato-imobiliaria {
    background-color: rgb(46, 110, 170);
    color: white;
}

.nossos-servicos p {
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.nossos-servicos {
    width: 100%;
    text-align: center;
    padding: 30px;
}

.nossos-servicos .lista {
    width: 10%;
    margin: 0 auto;
}

.nossos-servicos .lista ul li {
    padding: 5px;
    width: 10%;
    font-size: 20px;
}

.navegacao-home {
    width: 100%;
    background-color: rgb(162, 206, 226);
    text-align: center;
    margin: 0 auto;
}

.navegacao-home img {
    width: 20%;
}

.navegacao-home .opcoes ul {
    padding: 20px 0 50px 0;
}

.navegacao-home .opcoes ul li {
    display: inline;
    font-weight: bold;
}

.navegacao-home a {
    padding: 10px;
    color: black;
}

.image-banner {
    padding: 30px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    ;
}

.image-banner img {
    width: 80%;
}

.sobre-imobiliaria,
.nossos-corretores,
.contato-imobiliaria {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.sobre-imobiliaria p,
.nossos-corretores p {
    text-align: justify;
}

.sobre-imobiliaria img,
.nossos-corretores img {
    width: 40%;
}

.contato-imobiliaria p {
    background-color: black;
    margin: 20px auto;
    width: 70%;
    padding: 10px;
}

.contato-imobiliaria ul li {
    margin: 20px;
}

.contato-imobiliaria ul li a {
    background-color: white;
    color: rgb(76, 159, 236);
    border-radius: 10px;
    padding: 5px;
}